.x-border-layout-ct {
    background-color: #ffffff;
}

.x-grid-row-selected .x-grid-cell-treecolumn {
     background-color: white;
}

.x-grid-row-selected .x-grid-cell-row-checker  {
     background-color: white;
}

.x-tree-icon {
    display: none;
}

.schedule .x-panel-header-default {
    background-color: #ADD2ED;
}

.schedule .x-panel-header-text-container-default {
    color: #15569B;
}